.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(auto-fit, minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr));
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
  background-color: var(--color-primary);
  font-size: var(--font-lg);
  padding: var(--space-4) var(--space-5) var(--space-5) var(--space-5);
  color: var(--color-text-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro a {
  color: var(--color-text-white);
}

.sectionsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  margin-left: 25px;
  text-align: center;
}
.headerItems {
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.headerItems:hover {
  /*   background-color: lighten(var(--color-primary), 50%);
 */
}
.headerContainer {
  width: 100%;
  margin: 0 auto;
  padding: var(--space-4) var(--size-gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-text);
}
.bioContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.bioIndexer {
  width: 150px;
  height: 100%;
}
.bioParagraph {
  width: 100%;
  height: 100%;
  max-width: 700px;
}
.bioImage {
  height: 100%;
  margin: var(--space-4);
}
.desktopOnlyHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.introInfo {
  text-align: justify;
}
@media screen and (max-width: 480px) {
  .bioContainer {
    flex-wrap: wrap;
    padding: 15px;
  }
  .desktopOnly {
    display: none !important;
  }
  .desktopOnlyHeader {
    display: none !important;
  }
  .bioIndexer {
    display: none !important;
  }
  .intro h2 {
    font-size: var(--font-xl);
  }
  .intro p {
    font-size: var(--font-lg);
  }
  .infoTitle {
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .mobileOnly {
    display: none !important;
  }
  .headerContainer {
    height: 90px;
  }
  .introInfo {
    max-width: 50%;
    text-align: justify;
  }
}
.booksPageContainer {
  background-color: var(--color-code-bg);
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
.bookListItemContainer {
  max-width: 60vw;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  padding: 50px 40px 20px 80px;
  background-color: var(--color-text-white);
}
.bookListItemYear {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0;
  display: inline-block;
  margin-top: 0;
  position: relative;
  padding: 10px 22px;
  transform: translate(0px, 42px);
  line-height: 20px;
  width: fit-content;
}

.bookListItemImage {
  height: 100px;
  margin-bottom: 0;
  margin-right: 50px;
}
.esperienzeContainer {
  padding: 20px;
}
.esperienzeItem {
  border-bottom: 1px solid gray;
  padding: 10px;
}
.esperienzeItemInfo {
  display: flex;
  padding-bottom: 1em;
}
.esperienzeItemTitle {
  display: flex;
  text-transform: uppercase;
  color: var(--color-primary);
}
.dropdownItem {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 15px;
}
.dropdownItem:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.listItemConferenze {
  margin-bottom: 0;
  padding: 10px;
}
.listItemConferenze:nth-child(odd) {
  background: #d7dbcc;
}
.listConferenze {
  margin: 0;
}

.typewriter h1 {
  color: var(--color-primary);
  padding-left: 15px;
  font-size: 42px;
}
.generalWrapper {
  padding: 45px 45px 0 45px;
}
.paddingWrapper {
  padding: 40px 40px 0 40px;
}
.newsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.iframeWrapper {
  width: 710px;
  height: 400px;
}
.newsImage {
  width: 400px;
  cursor: "pointer";
  border: "1px solid black";
}
.rainbowImage {
  height: 300;
  float: right;
  margin: 20px;
}
@media screen and (max-width: 480px) {
  .typewriter {
    width: 100%;
    height: 100%;
    margin-bottom: auto;
    margin-top: 25px;
  }
  .esperienzeItemTitle {
    display: block;
  }
  .generalWrapper {
    padding: 0;
  }
  .paddingWrapper {
    padding: 20px 20px 0 20px;
  }
  .newsWrapper {
    display: flex;
    flex-direction: column;
  }
  .videoWrapper {
    width: 100%;
    height: 100%;
  }

  .iframeWrapper {
    width: 90%;
    height: 100%;
  }
  .newsImage {
    width: 80%;
  }
  .newsContainer {
    align-items: center;
  }
  .rainbowImage {
    height: 90%;
    margin: 0 auto;
    float: none;
  }
}

._typewriter h1 {
  padding-left: 10px;
  color: var(--color-primary);
  font-size: 42px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--color-text-white); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  font-family: monospace;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-text-white);
  }
}

.heroBanner {
  width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: url(../images/placeholder-background_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 450px;
  filter: brightness(1.05);
}
